<div class="container">
  <form class="sign-in-form" #ngformsModule = "ngForm" (submit)="onSubmit(ngformsModule)">
    <h2>Sign in</h2>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="userInfor.name" name="name"/>
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" [(ngModel)]="userInfor.password" name="password"/>
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-checkbox [(ngModel)]="userInfor.checkRemember" name="RememberMe">Remember me</mat-checkbox>
    </div>
    <div class="row-control row-actions">
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </div>
  </form>
</div>
<pre>
  {{ngformsModule.value|json}}
  {{userInfor|json}}
</pre>
<!-- <button mat-fab color="warn" aria-label="Example icon button with a home icon">
  <mat-icon>home</mat-icon>
</button> -->

